.main-container {
  margin: 0;
  padding: 0;
}
.title-main {
  font-family: "Roboto";
  font-size: 32px;
  line-height: 40px;
  color: #171f46;
}
.input-card {
  font-family: "Roboto";
  font-size: 12px;
  color: #7e858e;
}
.button-create{
    background-color: #0B69FF !important;
    color: white !important;
}
.error-message{
    color: red;
    display: flex;
    justify-content: center;
    padding-right: 15%;
    padding-top:20px;

}